body {
    background-color: black;
    color: #FFFFFF;
    font-family: Poppins;
    max-width: 1440px;
    max-height: 645px;
    align-items: center;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

nav {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 81.875%;
    margin: 55px auto;
}

nav ul, li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav ul {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}

nav #logo {
    color: #FF6D03;
    font-weight: bold;
    font-size: 25px;
}

nav a:hover {
    color: #FF6D03;
}

nav #contactme {
    background: #FFFFFF;
    font-weight: bold;
    color: black;
    border-radius: 18.5px;
    padding: 3px 25px;
}

nav #contactme:hover {
    background-color: #FF6D03;
}

/* INDEX PAGE */

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 81.875%;
    margin: 108px auto;
}

.main #tagline {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.3em;
}

.main #desc {
    font-weight: bold;
    font-size: 72px;
    line-height: 119.5%;
    color: #FF6D03;
    max-width: 671px;
    flex-wrap: wrap;
    margin: 14px auto;
}

.main #myworkbtn {
    margin-top: 47px;
}

.main a span img {
    width: 26px;
}

.main #mvector {
    margin-top: 22px;
}

.main #mvector img {
    width: 477px;
    height: 472px;
}

.main a {
    background: #FF6D03;
    border-radius: 50px;
    padding: 13px;
    display: flex;
    max-width: 201px;
    max-height: 63px;
    font-size: 24px;
    justify-content: space-evenly;
    align-items: center;
}

.main a span {
    font-family: Roboto;
    font-weight: bold;
    letter-spacing: 0.05em;
}

/* MY WORK */

.wmain {
    max-width: 81.875%;
    margin: 108px auto;
}

.wcontent {
    display: flex;
    justify-content: space-between;
}

.wcontent #wtitle #wtcap {
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.wcontent #wtitle #wt {
    font-weight: bold;
    font-size: 48px;
    color: #FF6D03;
    margin-top: 14px;
}

.wcontent #wdesc {
    max-width: 800px;
    font-size: 16px;
    letter-spacing: 0.025em;
    line-height: 36px;
}

.wimages {
    display: flex;
    flex-flow: row wrap;
    height: 750px;
    margin: 0 auto;
}

.wimages div {
    width: 350px;
    height: 250px;
    margin: auto;
    background: #C4C4C4;
}

/* SKILLS SECTION */

.smain {
    max-width: 81.875%;
    margin: 108px auto;
}

.smain #shead {
    font-weight: bold;
    font-size: 48px;
    color: #FF6D03;
    text-align: center;
}

.skill {
    display: flex;
    justify-content: space-between;
}

.skill p {
    font-weight: bold;
    font-size: 28px;
    color: #FF6D03;
}

.skill .skillbar {
    width: 500px;
    height: 28px;
    background: #C4C4C4;
    border-radius: 25px;
    margin-top: 32px;
    text-align: center;
    font-family: Poppins;
    font-weight: bold;
}

.skill .skillbar span {
    position: absolute;
}

#webdev, #dbms {
    background: #FF6D03;
    width: 85%;
    height: 28px;
    border-radius: 25px;
}

#ad {
    background: #FF6D03;
    width: 75%;
    height: 28px;
    border-radius: 25px;
}

#uiux, #ds, #cs {
    background: #FF6D03;
    width: 80%;
    height: 28px;
    border-radius: 25px;
}

#algo {
    background: #FF6D03;
    width: 90%;
    height: 28px;
    border-radius: 25px;
}

#gd {
    background: #FF6D03;
    width: 70%;
    height: 28px;
    border-radius: 25px;
}

/* CONTACT ME */

.cmain {
    max-width: 81.875%;
    margin: 108px auto;
    text-align: center;
}

.cmain p {
    font-weight: bold;
    font-size: 48px;
    color: #FF6D03;
}

.contactways {
    display: flex;
}

.cmain form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.cmain form input {
    width: 580px;
    height: 50px;
    margin-bottom: 25px;
}

.cmain form textarea {
    width: 580px;
    margin-bottom: 25px;
}

input[type="text"]::placeholder, textarea::placeholder {
    font-family: Poppins;
}

.cmain form a {
    background: #FF6D03;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    padding: 15px 100px;
    font-weight: bold;
    font-size: 25px;
}

/* RESPONSIVE CODE */

@media (max-width: 1024px) {

    /* NAVBAR */

    nav {
        font-size: 15px;
    }

    nav #logo {
        font-size: 20px;
    }

    /* INDEX PAGE */

    .main #tagline {
        font-size: 15px;
    }

    .main #desc {
        font-size: 48px;
    }
    .main #mvector img {
        width: 377px;
        height: 372px;
    }

    .main a span img {
        width: 20px;
    }

    .main a {
        max-width: 150px;
        max-height: 30px;
        font-size: 18px;
    }

    /* MYWORK PAGE */

    .wcontent #wtitle #wtcap {
        font-size: 12px;
    }

    .wcontent #wtitle #wt {
        font-size: 44px;
    }

    .wcontent #wdesc {
        max-width: 565px;
    }

    .wimages {
        height: 1000px;
        margin-top: 50px;
    }

    /* SKILLS PAGE */

    .skill p {
        font-size: 24px;
    }
}

@media (max-width: 768px) {

    /* NAVBAR */

    body {
        max-height: 2200px;
    }
    
    nav, nav ul {
        flex-direction: column;
        align-items: center;
    }

    /* INDEX PAGE */

    .main {
        flex-direction: column-reverse;
        margin: 30px auto;
    }

    .main #mdesc {
        text-align: center;
    }

    .main #desc {
        max-width: 400px;
    }

    .main a{
        display: block;
        margin: auto;
    }

    #mvector img{
        display: block;
        margin: auto;
    }

    /* MYWORK PAGE */

    .wmain {
        margin: 30px auto;
    }

    .wcontent {
        flex-direction: column;
    }

    .wcontent #wtitle #wtcap {
        text-align: center;
    }

    .wcontent #wtitle #wt {
        text-align: center;
    }

    .wcontent #wdesc {
        margin: auto;
        text-align: center;
        max-width: 500px;
    }

    .wimages {
        height: 2200px;
    }

    .wimages div {
        width: 350px;
        height: 250px;
        
    }

    /* SKILLS PAGE */
    
    .skill {
        flex-direction: column;
        margin-bottom: 80px;
    }

    .skill .skillbar {
        width: 380px;
    }

    /* CONTACT ME */

    .cmain form input {
        width: 420px;
        height: 40px;
        margin-bottom: 25px;
    }
    
    .cmain form textarea {
        width: 420px;
        margin-bottom: 25px;
    }

}

@media (max-width: 426px) {
    #mvector img {
        max-width: 350px;
        max-height: 350px;
    }

    .skill .skillbar {
        width: 300px;
    }

    .cmain form input {
        width: 320px;
        height: 40px;
        margin-bottom: 25px;
    }
    
    .cmain form textarea {
        width: 320px;
        margin-bottom: 25px;
    }

    .cmain form a {
        padding: 12px 60px;
        font-size: 20px;
    }

    .cmain p {
        font-size: 40px;
    }
}

@media (max-width: 376px) {
    #mvector img {
        max-width: 300px;
        max-height: 300px;
    }

    .main #desc {
        font-size: 36px;
    }

    .skill .skillbar {
        width: 270px;
    }

    .cmain p {
        font-size: 35px;
    }
    
}

@media (max-width: 321px) {
    #mvector img {
        max-width: 270px;
        max-height: 270px;
    }

    .skill .skillbar {
        width: 240px;
    }

    .cmain form input {
        width: 240px;
        height: 40px;
        margin-bottom: 25px;
    }
    
    .cmain form textarea {
        width: 240px;
        margin-bottom: 25px;
    }

    .cmain form a {
        padding: 10px 50px;
        font-size: 18px;
    }

    .cmain p {
        font-size: 30px;
    }
}

@media (max-width: 281px) {
    #mvector img {
        max-width: 240px;
        max-height: 240px;
    }

    .main #desc {
        font-size: 32px;
    }
}
