body {
    background-color: black;
    color: #FFFFFF;
    font-family: Poppins;
    max-width: 1440px;
    align-items: center;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

nav {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 81.875%;
    margin: 55px auto;
}

nav ul, li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav ul {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}

nav #logo {
    color: #FF6D03;
    font-weight: bold;
    font-size: 25px;
}

nav a:hover {
    color: #FF6D03;
}

nav #contactme {
    background: #FFFFFF;
    font-weight: bold;
    color: black;
    border-radius: 18.5px;
    padding: 3px 25px;
}

nav #contactme:hover {
    background-color: #FF6D03;
}

/* INDEX PAGE */

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 81.875%;
    margin: 108px auto;
}

.main #tagline {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.3em;
}

.main #desc {
    font-weight: bold;
    font-size: 72px;
    line-height: 119.5%;
    color: #FF6D03;
    max-width: 671px;
    flex-wrap: wrap;
    margin: 14px auto;
}

.main #myworkbtn {
    margin-top: 47px;
}

.main a span img {
    width: 26px;
}

.main #mvector {
    margin-top: 22px;
}

.main #mvector img {
    width: 477px;
    height: 472px;
}

.main a {
    background: #FF6D03;
    border-radius: 50px;
    padding: 13px;
    display: flex;
    max-width: 201px;
    max-height: 63px;
    font-size: 24px;
    justify-content: space-evenly;
    align-items: center;
}

.main a span {
    font-family: Roboto;
    font-weight: bold;
    letter-spacing: 0.05em;
}

/* MY WORK */

.wmain {
    max-width: 81.875%;
    margin: 108px auto;
}

.wcontent {
    display: flex;
    justify-content: space-between;
}

.wcontent #wtitle #wtcap {
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.wcontent #wtitle #wt {
    font-weight: bold;
    font-size: 48px;
    color: #FF6D03;
    margin-top: 14px;
}

.wcontent #wdesc {
    max-width: 800px;
    font-size: 16px;
    letter-spacing: 0.025em;
    line-height: 36px;
}

.wimages {
    display: flex;
    flex-flow: row wrap;
    height: 750px;
    margin: 0 auto;
}

.wimages div {
    width: 350px;
    height: 250px;
    margin: auto;
    background: #C4C4C4;
}

/* RESPONSIVE CODE */

@media (max-width: 1024px) {

    nav {
        font-size: 15px;
    }

    nav #logo {
        font-size: 20px;
    }

    .main #tagline {
        font-size: 15px;
    }

    .main #desc {
        font-size: 48px;
    }
    .main #mvector img {
        width: 377px;
        height: 372px;
    }

    .main a span img {
        width: 20px;
    }

    .main a {
        max-width: 150px;
        max-height: 30px;
        font-size: 18px;
    }

    .wcontent #wtitle #wtcap {
        font-size: 12px;
    }

    .wcontent #wtitle #wt {
        font-size: 44px;
    }

    .wcontent #wdesc {
        max-width: 565px;
    }

    .wimages {
        height: 1000px;
        margin-top: 50px;
    }
}

@media (max-width: 768px) {
    
    nav, nav ul {
        flex-direction: column;
        align-items: center;
    }

    .main {
        flex-direction: column-reverse;
        margin: 30px auto;
    }

    .main #mdesc {
        text-align: center;
    }

    .main #desc {
        max-width: 400px;
    }

    .main a{
        display: block;
        margin: auto;
    }

    #mvector img{
        display: block;
        margin: auto;
    }

    .wmain {
        margin: 30px auto;
    }

    .wcontent {
        flex-direction: column;
    }

    .wcontent #wtitle #wtcap {
        text-align: center;
    }

    .wcontent #wtitle #wt {
        text-align: center;
    }

    .wcontent #wdesc {
        margin: auto;
        text-align: center;
        max-width: 500px;
    }

    .wimages {
        height: 2200px;
    }

    .wimages div {
        width: 350px;
        height: 250px;
        
    }
}

@media (max-width: 426px) {
    #mvector img {
        max-width: 350px;
        max-height: 350px;
    }
}

@media (max-width: 376px) {
    #mvector img {
        max-width: 300px;
        max-height: 300px;
    }

    .main #desc {
        font-size: 36px;
    }
}

@media (max-width: 321px) {
    #mvector img {
        max-width: 270px;
        max-height: 270px;
    }
}

@media (max-width: 281px) {
    #mvector img {
        max-width: 240px;
        max-height: 240px;
    }

    .main #desc {
        font-size: 32px;
    }
}
